* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-align: center;

}

.mainContainer {
    background: linear-gradient(to top left, #000, #3f3f40, #000, #26262c, #000, #3a3838, #000);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.weatherContainer {
    position: absolute;
    top: 50px;
    background: black;
    padding: 35px;
    border-radius: 10px;
    width: 500px;
    min-width: 400px;
    box-shadow: 0px 0px 9px 0px;
}

.weatherDetails {
    margin-top: 50px;

}

#user-input {
    padding: 15px;
    font-size: 20px;
    border-radius: 50px;
    border: 0 solid;
    outline: 0;
}

.temprature {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;

}

.weatherIconMain {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weatherIcon {
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffdd00;
    border-radius: 20px;
}

.backBox {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 35px;
    border-radius: 30px;
    background: #212121;
}

#weatherTemp {
    font-family: 'Font Awesome 6 Free';

}

.arrangeDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.feels {
    position: relative;
    top: -15px;
    display: flex;
    justify-content: center;
}
